*{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    background-image: linear-gradient(#3D0000, #000000);
    background-repeat: no-repeat;
    background-size: cover;
    color: white !important;
    width: 100%;
    margin: 0;
}

nav{
     background-color: #000000b6;
     text-align: center;
     height:70px;
     position: fixed;
     width: 100%;
     z-index: 10;
     top: 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;

}
nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    z-index: 10;
}

nav a:hover{
    text-decoration: underline;
}

.nomPrenom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 100px;
    text-align: center;
    margin-top: 346px;
}

.nom{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.prenom{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
main{
    text-align: center;
}
.objectif{
    text-align: center;
    font-size: 30px;
}
.swiper-web, .swiper-programme{
    position: relative;
    height: 122px;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    margin-top: 50px;
}

.swiper-wrapper{
    transition-timing-function : linear;
}

.swiper-slide{
    display: block;
    background-color: rgba(255, 255, 255, 0.829);
    width: 260px !important;
    color: black;
    font-size: 40px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
}
h2{
    font-size: 59px !important;
    text-transform: uppercase;
}
.projets img{
    width: 100%;
    border-radius: 66px;
    object-fit: cover;
    display: block;
}
.media{
    width: 100%;
    text-align: center;
}
.projets{
    font-size: 30px;
    padding: 30px;
}
.section{
    margin-top:60px;
}


.projets a{
    color: inherit;
}
.projets p{
    display: block;
}

.projet h3{
    font-size: 40px;
    font-weight: 500;
}

.info{
    width: 100%;
}
.cordonnees{
    font-size: 69px;
}
.coordonnee{
    font-size: 40px;
    margin-top: 24px;
}
footer{
    padding: 50px;
    text-align: center;
}
@media (max-width:1000px){
    .projet{
        text-align: center;
    }
}