*{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    background-image: linear-gradient(#3D0000, #000000);
    background-repeat: no-repeat;
    background-size: cover;
    color: white !important;
    width: 100%;
    margin: 0;
}

nav{
     background-color: #000000b6;
     text-align: center;
     height:70px;
     position: fixed;
     width: 100%;
     z-index: 10;
     top: 0;
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;

}
nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    z-index: 10;
}

nav a:hover{
    text-decoration: underline;
}
header{
    height: 100vh;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    margin: 0 auto;
}
.nomPrenom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 100px;
    margin-top: 25vh;
    text-align: center;
}

.nom{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.prenom{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
main{
    text-align: center;
}
.objectif{
    text-align: center;
    font-size: 30px;
}
.swiper-web, .swiper-programme{
    position: relative;
    height: 122px;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    margin-top: 50px;
}

.swiper-wrapper{
    transition-timing-function : linear;
}

.swiper-slide{
    display: block;
    background-color: rgba(255, 255, 255, 0.829);
    width: 260px !important;
    color: black;
    font-size: 40px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
}
h2{
    font-size: 59px !important;
    text-transform: uppercase;
}
.projets img{
    width: 100%;
    border-radius: 66px;
    object-fit: cover;
    height: 600px;
    display: block;
}
.media{
    width: 100%;
    height: 100%;
    position: relative;
}
.projets{
    font-size: 30px;
}
.section{
    margin-top:60px;
}


.projets a{
    color: inherit;
}
.projets p{
    display: block;
}
.lettre:hover{
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 30px #960000, 0 0 35px #960000, 0 0 40px #960000, 0 0 50px #960000, 0 0 75px #960000;
    cursor: default;
}
a:hover{
    color: rgb(136, 0, 0) !important;
}
.projet h3{
    font-size: 40px;
    font-weight: 500;
    margin: 20px;
}
.projet{
    margin-top: 50px;
}
.info{
    width: 100%;
    display: flex;
    align-items: center;
}
.cordonnees{
    font-size: 69px;
}
.coordonnee{
    font-size: 30px;
    margin-top: 24px;
}
footer{
    padding: 50px;
    text-align: center;
}
@media (max-width:1000px){
    .projet{
        text-align: center;
    }
}

@media (max-width:800px){
    .projets{
        font-size: 20px;
    }
    .cordonnees{
        font-size: 49px;
    }
    .coordonnee{
        font-size: 20px;
    }
    .projet h3{
        font-size: 30px;
    }
    .projets img{
        height: 400px;
    }
    h2{
        font-size:39px !important;
    }
    .swiper-slide{
        width: 200px !important;
        font-size: 30px;
    }
    .objectif{
        font-size: 20px;
    }
    .nomPrenom{
        font-size: 80px;
    }
    .swiper-web, .swiper-programme{
        height: 82px;
    }
    nav a{
        font-size: 15px;
    }
}
@media (max-width:615px){
    .nomPrenom{
        font-size: 60px;
    }
}
@media (max-width:470px){
    .nomPrenom{
        font-size: 40px;
    }
}